body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
a {
  color: rgb(133, 92, 175);
}
main {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  padding: 1rem 0 0 0;
}

section {
  padding: 1rem 0;
}

p {
  padding: 1rem 0;
}

ol,
ul {
  padding: revert;
}
