.keyboardContainer {
  display: flex;
  height: 10rem;
}

.octaveContainer {
  position: relative;
  width: 15rem;
}

.whiteKeyContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}

.whiteKey {
  background-color: var(--col03);
  border: var(--border);
  border-left: none;
  border-radius: 0 0 0.25rem 0.25rem;
  flex: 1;
  cursor: pointer;
}
.keyboardContainer
  > .octaveContainer:first-of-type
  > .whiteKeyContainer
  > .whiteKey:first-of-type {
  border: var(--border);
}

.blackKeyContainer {
  position: absolute;
  top: 0;
  display: flex;
  height: 55%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}

.blackKey {
  margin: 0;
  background-color: var(--col01);
  border: var(--border);
  border-left: none;
  border-radius: 0 0 0.25rem 0.25rem;
  flex: 1;
  cursor: pointer;
  pointer-events: all;
}
.blackKey:nth-of-type(1) {
  border: var(--border);
  width: calc(2rem + 4px);
}
.blackKey:nth-of-type(3) {
  border: var(--border);
  width: calc(2rem + 4px);
}
.blackKeySpacer {
  flex: 0.5;
  opacity: 0;
}

.whiteKey.activeKey {
  background-color: var(--col06);
}
.blackKey.activeKey {
  background-color: var(--col05);
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #2fcbc6; /* This brighter color effectively distinguishes the button from the background color, attracting the user's attention.*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 2rem;
  /* I increased the width of the slider because I thought it would better simulate the shape of the buttons on the tuning equipment in a recording studio.*/
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}
